// ==============================
// Custom style
// 自定义样式
// ==============================

@font-face {
  font-family: BowlbyOne; /* set name */
  src: url(/fonts/BowlbyOne-Regular.ttf) format('truetype');; /* url of the font */
}
@font-face {
  font-family: GloriaH; /* set name */
  src: url(/fonts/GloriaHallelujah-Regular.ttf) format('truetype');; /* url of the font */
}
@font-face {
  font-family: LondonP; /* set name */
  src: url(/fonts/london-presley.ttf) format('truetype');; /* url of the font */
}

.top-logo {
  filter: drop-shadow(0px 1px 1px #4e5e9b);
  position: relative;
  top:-5px;
}

.home[posts] {
  .home-avatar img {
    width: 20rem;
  }
  .single {
    text-align: center;
  }
}


.menu-inner, #menu-mobile {
    font-family: GloriaH;
    font-size: larger;
    text-shadow: 0px 1px 1px #4e5e9b;
}

.menu-item, .menu-item::before, .menu-item::after{
    color: $header-title-text-color;
}

.menu-item:hover, .menu-item:active{
    color: #b6cee4;
}

.header-title a {
    font-family: LondonP;
    color: $header-title-text-color;
}

.header-title {
    font-family: LondonP;
    color: $header-title-text-color;
    text-shadow: 0px 1px 1px #4e5e9b;
}

.title-block {
  margin-top: -1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-meta {
  margin-top: auto;
  margin-bottom: auto;
}

.featured-image-preview {
    width: 100%;
    padding: 30% 0 0;
    position: relative;
    margin: 0.6rem auto;
    @include transition(transform 0.4s ease);

    img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    }
}

.container {
    display: flex;
    flex-direction: row;
}

.container img {
    // margin: 10px;
    // padding: 20px;
    width: 100%;
}

.hidden-img {
    display: none;
}